<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wxd.a19mytest1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/txl"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".seaech" />
        <activity android:name=".register" />
        <activity android:name=".Webnewxqq" />
        <activity android:name=".Frgment6" />
        <activity android:name=".Frgment5" />
        <activity android:name=".Frgment4" />
        <activity android:name=".Frgment3" />
        <activity android:name=".Frgment2" />
        <activity android:name=".Frgment1" />
        <activity
            android:name=".Frgment"
            android:label="@string/title_activity_fragment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".login2Activity" />
        <activity android:name=".About_" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>